<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423664070781-l2j5gn7r7pfquu2nrfdjpph543igfbvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423664070781-l2j5gn7r7pfquu2nrfdjpph543igfbvt</string>
	<key>API_KEY</key>
	<string>AIzaSyDrNLBOOvmr8XyAfD3WUmnkuw4Sqm4DWVg</string>
	<key>GCM_SENDER_ID</key>
	<string>423664070781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitness</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-5bfec</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-5bfec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423664070781:ios:b8051761116a41bb0b8114</string>
</dict>
</plist>